.dynamic-pages .desc{
    font-size: 1rem;
    color: var(--grey_1);
    font-weight: 500;
}
.dynamic-pages .option p{
    font-size: var(--font-size-xxs);
    color: var(--grey_1);
    font-weight: 500;
}
.dynamic-pages .option .title{
    color: rgb(42, 41, 41);
    font-weight: 600;
}
.card-method{
    transition: all 0.3s ease;
}
.card-method:hover{
    transform: translateY(-5px) scale(1.05); 
    /* box-shadow: 0 15px 25px rgba(0,0,0,0.2);  */
}
.offers path{
    fill: var(--light);
}
@media (max-width: 600px) {
    .dynamic-pages .desc{
        font-size: 0.8rem;
    }
    .dynamic-pages .option .title{
        font-size: 0.8rem;
    }
    
}