.dynamic-pages .desc{
    font-size: var(--font-size-xs);
    color: var(--grey_1);
    font-weight: 500;
}
.dynamic-pages .option p{
    font-size: var(--font-size-xxs);
    color: var(--grey_1);
    font-weight: 500;
}
.dynamic-pages .option .title{
    color: rgb(42, 41, 41);
    font-weight: 600;
}

