.container-layout{
    padding: 0 6rem;
}
.container-layout-left{
    padding-left: 6rem;
}
.container-layout-right{
    padding-right: 6rem;
}
.menu-icon,.first-nav button{
  display: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.element-shape{
    height: 100px;
    width: 400px;
    background-color: var(--main);
    clip-path: polygon(
        0 0,        /* top-left */
        85% 0,      /* top-right, move left a bit */
        100% 100%,  /* bottom-right */
        0% 100%     /* bottom-left */
    );
}
.first-nav, .second-nav{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.first-nav{
    background-color: rgba(255, 255, 255, 0.76);
    font-size: var(--font-size-xs);
    font-weight: 600;
}
.second-nav{
    background-color: var(--light);
}
nav ul{
    font-size: var(--font-size-s);
    font-weight: 500;
    text-transform: uppercase;
}
/* Fixed Component */
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.rotate-div{
    position: fixed;
    right: -50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: var(--font-size-xxl);
    font-weight: 600;
    width: 150px;
    height: 50px;
    transform: rotate(-90deg);
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
/* Animation Shape */
@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 10px);
  }
  50% {
    transform: translate(0, 20px);
  }
  75% {
    transform: translate(-20px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-moveAround {
  animation: moveAround 6s ease-in-out infinite;
}
/* Heading */
.heading h2{
  font-size: var(--font-size-xxl);
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 2.4rem;
  position: relative;
  padding-bottom: 10px;
}
.sub-heading h2{
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 2.4rem;
  position: relative;
  padding-bottom: 10px;
}
.heading p{
  font-size: var(--font-size-xs);
  font-weight: 500;
  text-align: center;
  width: 80%;
  margin: auto;
  color: var(--grey_3);
}
.heading h2:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--main);
    width: 20%;
}
/* Button */
.btn{
    background-color: var(--main);
    color: var(--light);
    width: fit-content;
    padding: 13px 20px;
    font-size: var(--font-size-s);
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover span{
    transition: 0.3s;
}
.btn:hover span{
    transform: translateX(2px);
}

/* Footer */
footer{
  background-color: rgba(128, 128, 128, 0.063);
}
footer h2{
  color: var(--main);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
footer {
  font-size: var(--font-size-s);
  font-weight: 500;
}
footer a{
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--dark);
  transition: 0.3s;
}
.contact-footer, .contact-footer a{
  font-size: var(--font-size-xs);
}
footer a:hover{
  color: var(--main);
}
.icon-social{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: var(--main);
  transition: 0.3s;
}
.icon-social:hover{
  transform: scale(1.1);
}

footer iframe{
  width: 100%;
  border-radius: 8px;
}
footer .element-shape svg{
  width: 110px;
}
.final-line-footer,.final-line-footer a{
  font-size: var(--font-size-xs) !important;
}
@media (max-width:1200px) {
  .container-layout{
    padding: 0 4rem;
  }
  .container-layout-left{
    padding-left: 4rem;
  }
  .container-layout-right{
    padding-right: 4rem;
  }
  /* Nav */
  .element-shape{
    width: 300px;
  }
  .contact-nav{
    font-size: var(--font-size-xxs);
  }
  nav ul{
    font-size: var(--font-size-s);
  }

  /* heading */
  .heading h2, .sub-heading h2, #about h2, .ready h2{
    font-size: 1.8rem !important;
    line-height: 2rem !important;
  }
  #about p,  #about h2{
    text-align: center;
  }
  .heading p{
    font-size: var(--font-size-xs);
    font-weight: 500;
    width: 100%;
  }
}
@media (max-width:1100px) {
  .container-layout{
    padding: 0 3rem;
  }
  .container-layout-left{
    padding-left: 3rem;
  }
  .container-layout-right{
    padding-right: 3rem;
  }
  
}
@media (max-width:1020px) {
  .contact-nav-item, .second-nav button {
    display: none;
  }
  .first-nav button{
    display: flex;
  }
  
}
@media (max-width:900px) {
  .container-layout{
    padding: 0 2rem;
  }
  .container-layout-left{
    padding-left: 2rem;
  }
  .container-layout-right{
    padding-right: 2rem;
  }

}
@media (max-width: 768px) {
  nav{
    height: 85px;
  }
  nav svg.logo{
    width: 100px;
  }
  .element-shape{
    width: 200px;
    height: 85px;
  }
    /* heading */
  .heading h2, .sub-heading h2, #about h2, .ready h2{
    font-size: 1.5rem !important;
    line-height: 1.7rem !important;
  }
  #about p,  #about h2{
    text-align: center;
  }
  .heading p, #about p, .sub-heading p{
    font-size: var(--font-size-xxs);
    font-weight: 500;
  }
  /* Fixed Component */
  .rotate-div{
    font-size: var(--font-size-l);
    width: 100px;
    height: 50px;
    right: -30px;
    top: 15px;
  }
  .container-layout-icons .icon{
    width: 30px;
    height: 30px;
  }
  .container-layout-icons svg{
    width: 20px;
  }
}
@media (max-width:850px) {

  .menu-icon{
    display: flex;
  }
  nav ul{
    display: none;
  }
  nav ul.open{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 50;
    background-color: white;
    left: 0;
    right: 0;
    padding: 20px;
    top: 85px;
    animation: openMenu 0.3s forwards linear;
    overflow: hidden;
  }
  @keyframes openMenu {
    from{
        height: 0;
    }to{
       height: 200px;
    }
  }
}
@media (max-width: 500px) {
  nav svg.logo{
    width: 80px;
  }
  .element-shape{
    width: 150px;
    height: 85px;
  }
  /* heading */
  .heading h2, .sub-heading h2, #about h2, .ready h2{
    font-size: 1.3rem !important;
    line-height: 1.5rem !important;
  }

}
@media (max-width: 400px) {
  .container-layout{
    padding: 0 1rem;
  }
  .container-layout-left{
    padding-left: 1rem;
  }
  .container-layout-right{
    padding-right: 1rem;
  }
}